{{ header -}}
package enums

{{- range $_, $enum := . }}
type {{ $enum.Name }} {{ $enum.Type }}

const (
{{- range $val := $enum.Values }}
	{{ $enum.Name }}{{ camelcase $val.Name }} {{ $enum.Name }} = {{ $val.Value }}
{{- end }}
)

func (e {{ $enum.Name }}) String() string {
    switch e {
{{- range $val := $enum.Values }}
    case {{ $enum.Name }}{{ camelcase $val.Name }}:
        return "{{ camelcase $val.Name }}"
{{- end }}
    }
    return ""
}

{{- end  }}
