{{ header -}}
package enums

{{- range $_, $enum := . }}
type {{ $enum.Name }} {{ $enum.Type }}

const (
{{- range $val := $enum.Values }}
	{{ $enum.Name }}{{ camelcase $val.Name }} {{ $enum.Name }} = {{ $val.Value }}
{{- end }}
)
{{- end  }}
