{{ header -}}
package packets

{{- range $_, $group := . }}
// {{ $group.Name }} defines the fields for a group of {{ $group.SizeBytes }} bytes.
type {{ $group.Name }} struct {
    {{- range $field := $group.Fields }}
    {{ camelcase $field.Name }} {{ $field.Type }}
    {{- end }}
}
{{- end }}
